<div class="app-header white bg b-b">
	  <div class="navbar" data-pjax>
			<a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up p-r m-a-0">
			  <i class="ion-navicon"></i>
			</a>
			<div class="navbar-item pull-left h5" id="pageTitle">MY CREDITS SCREEN</div>
	  </div>
</div>
<div class="app-body" style="padding-left:0px;">
	<div class="padding">
		<div class="p-y-lg clearfix">
			<div class="text-center">
				<h2 class="_700 m-b">Our subscription will expire in [time until expires] day</h2>
				<h5 class="m-b-md">You can also add more credits to your account. Enter below how many credits you want to add, after that go to the payment screen.</h5>
				<a href="javascrit:void(0);" class="btn rounded btn-outline b-info text-info p-x-md m-y">Add</a>
			</div>
		</div>

		<div class="p-y-lg clearfix">
			<div class="text-center">
				<h2 class="_700 m-b">Spare money</h2>
				<h5 class="m-b-md">Add a credit package and receive bonus credits!</h5>
			</div>
		</div>
		<div class="p-x-lg">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="row no-gutter">
						<div class="col-sm-4 push-sm-4">
							<div class="box m-t-n">
								<div class="box-body text-center r-t primary">
									<h6 class="text-u-c p-v-sm m-a-0 m-t">Most Bought</h6>
									<h3 class="m-a-0 m-l m-v">
										<sup>$</sup>
										<span class="text-2x">100</span>
										<span class="text-xs"> + 15 free</span>
									</h3>
								</div>
								<div class="text-center p-a-md">
									<a href="#" class="btn btn-block btn-lg info">Purchase package</a>
								</div>
							</div>
						</div>
						<div class="col-sm-4 pull-sm-4">
							<div class="box">
								<div class="box-body text-center light lt">
									<h6 class="text-u-c m-a-0 m-t">Package</h6>
									<h3 class="m-a-0 m-l m-v">
										<sup>$</sup>
										<span class="text-2x">50</span>
										<span class="text-xs"> + 5 free</span>
									</h3>
								</div>
								<div class="text-center p-a-md">
									<a href="#" class="btn btn-block btn-lg info">Purchase package</a>
								</div>
							</div>

						</div>
						<div class="col-sm-4">
							<div class="box">
								<div class="box-body text-center light lt">
									<h6 class="text-u-c m-a-0 m-t">Most Bought</h6>
									<h3 class="m-a-0 m-l m-v">
										<sup>$</sup>
										<span class="text-2x">200</span>
										<span class="text-xs"> + 25 free</span>
									</h3>
								</div>
								<div class="text-center p-a-md">
									<a href="#" class="btn btn-block btn-lg info">Purchase package</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="p-x-lg">
			<div class="row">
				<div class="p-y-lg clearfix">
					<div class="text-center">
						<h2 class="_700 m-b">Manage your subscription</h2>
						<h5 class="m-b-md">
							Users will be able to “pause” their subscription.
							 If they do this, they can still enter the system.
							  But all the user interface will be blocked for them,
							   except: Download User Manuals, Our Courses,
							    My profile and this page. Also,
								their dashboard becomes the next slide.
						</h5>
						<div class="row">
							<div class="col-sm-4">

							</div>
							<div class="col-sm-4">
								<a href="#" class="btn btn-block btn-lg danger">Pause Subscription</a>
							</div>
							<div class="col-sm-4">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
