<div class="app-header white bg b-b">
	  <div class="navbar" data-pjax>
			<a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up p-r m-a-0">
			  <i class="ion-navicon"></i>
			</a>
			<div class="navbar-item pull-left h5" id="pageTitle">Validation</div>
	  </div>
</div>
<div class="app-footer white bg p-a b-t">
  <div class="pull-right text-sm text-muted">Version 1.0.1</div>
  <span class="text-sm text-muted">&copy; Copyright.</span>
</div>
<div class="app-body">
	<!-- ############ PAGE START-->
	<div class="padding">
		<div class="row">
			<div class="col-sm-4">
			</div>
			<div class="col-sm-4">
				<div class="row">
					<div class="col-sm-4">
						<div [ngClass]="(isFormNumber==1)?'md-btn md-fab m-b-sm red':'md-btn md-fab m-b-sm black'" (click)="onSubmit3()">
							1
						</div>
					</div>
					<div class="col-sm-4">
						<div [ngClass]="(isFormNumber==2)?'md-btn md-fab m-b-sm red':'md-btn md-fab m-b-sm black'" (click)="onSubmit1()">
							2
						</div>
					</div>
					<div class="col-sm-4">
						<div [ngClass]="(isFormNumber==3)?'md-btn md-fab m-b-sm red':'md-btn md-fab m-b-sm black'" (click)="onSubmit2()">
							3
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">

			</div>
			<div class="col-sm-6">
			  	<div *ngIf="isFormNumber == 1">
					<div *ngIf="isNewRegister">
						<form [formGroup]="searchForm" (ngSubmit)="onSubmit1()">
			  				<div class="box">
			  				  <div class="box-header">
			  					<h2>New Patient</h2>
			  				  </div>
			  				  <div class="box-body">
			  					<div class="form-group">
			  					  <label>Select an already registered patient</label>
								  <select id="single" class="form-control select2" data-ui-jp="select2" data-ui-options="{theme: 'bootstrap'}">
									  <option value="a">A</option>
									  <option value="b">B</option>
									  <option value="c">C</option>
								  </select>
			  					</div>
			  				  </div>
			  				  <div class=" p-a text-right">
			  					<button type="submit" [disabled]="submitted" class="btn info">Submit</button>
								<img *ngIf="submitted" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			  				  </div>
			  				</div>
			  			</form>
					</div>
					<div *ngIf="!isNewRegister">
						<form [formGroup]="searchForm" (ngSubmit)="onSubmit1()">
			  				<div class="box">
			  				  <div class="box-header">
			  					<h2>New Patient</h2>
			  				  </div>
			  				  <div class="box-body">
			  					<div class="form-group">
			  					  <label>Name</label>
			  					  <input type="text" class="form-control" required>
			  					</div>
								<div class="form-group">
									<div class="row">
										<div class="col-sm-3">
											<label>Sex</label>
										</div>
										<div class="col-sm-8">
											<input type="radio" value="option1"> Male
											<input type="radio" value="option2"> Female
										</div>
									</div>
			  					</div>
			  					<div class="form-group">
			  					  <label>Age</label>
			  					  <input type="number" class="form-control" required>
			  					</div>
								<div class="form-group">
			  					  <label>Years of Study</label>
			  					  <input type="number" class="form-control" required>
			  					</div>
			  					<!-- <div class="row m-b">
			  					  <div class="col-sm-6">
			  						<label>Enter password</label>
			  						<input type="password" class="form-control" required id="pwd">
			  					  </div>
			  					  <div class="col-sm-6">
			  						<label>Confirm password</label>
			  						<input type="password" class="form-control" data-parsley-equalto="#pwd" required>
			  					  </div>
			  					</div> -->
			  					<div class="form-group">
			  					  	<label>Laterality</label>
								  	<select id="single" class="form-control select2" data-ui-jp="select2" data-ui-options="{theme: 'bootstrap'}">
										<option value="left_handed">Left Handed</option>
							            <option value="right_handed">Right Handed</option>
							            <option value="both">Both</option>
							        </select>
			  					</div>
								<div class="form-group">
			  					  	<label>State in which you lived most of their life</label>
								  	<select id="single" class="form-control select2" data-ui-jp="select2" data-ui-options="{theme: 'bootstrap'}">
										<option value="CA">Sao Paulo</option>
							            <option value="NV">Minas Gerais</option>
							            <option value="OR">Bahia</option>
							        </select>
			  					</div>
								<div class="form-group">
			  					  	<label>State in which they live now</label>
								  	<select id="single" class="form-control select2" data-ui-jp="select2" data-ui-options="{theme: 'bootstrap'}">
										<option value="CA">Sao Paulo</option>
							            <option value="NV">Minas Gerais</option>
							            <option value="OR">Bahia</option>
							        </select>
			  					</div>
								<div class="form-group">
			  					  	<label>Comment</label>
								  	<textarea class="form-control" rows="6" data-minwords="6" required placeholder="Type your message"></textarea>
			  					</div>
			  					<!-- <div class="checkbox">
			  					  <label class="ui-check">
			  						<input type="checkbox" name="check" checked required="true"><i></i> I agree to the <a href="#" class="text-info">Terms of Service</a>
			  					  </label>
			  					</div> -->
			  				  </div>
			  				  <div class=" p-a text-right">
			  					<button type="submit" [disabled]="submitted" class="btn info">Submit</button>
								<img *ngIf="submitted" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			  				  </div>
			  				</div>
			  			</form>
					</div>
			  	</div>
				<div *ngIf="isFormNumber == 2">
					<form [formGroup]="searchForm" (ngSubmit)="onSubmit2()">
		  				<div class="box">
		  				  <div class="box-header">
		  					<h2>Register2</h2>
		  				  </div>
		  				  <div class="box-body">
		  					<p class="text-muted">Please fill the information to continue</p>
		  					<div class="form-group">
		  					  <label>Username</label>
		  					  <input type="text" class="form-control" required>
		  					</div>
		  					<div class="form-group">
		  					  <label>Email</label>
		  					  <input type="email" class="form-control" required>
		  					</div>
		  					<div class="row m-b">
		  					  <div class="col-sm-6">
		  						<label>Enter password</label>
		  						<input type="password" class="form-control" required id="pwd">
		  					  </div>
		  					  <div class="col-sm-6">
		  						<label>Confirm password</label>
		  						<input type="password" class="form-control" data-parsley-equalto="#pwd" required>
		  					  </div>
		  					</div>
		  					<div class="form-group">
		  					  <label>Phone</label>
		  					  <input type="number" class="form-control" placeholder="XXX XXXX XXX" required>
		  					</div>
		  					<div class="checkbox">
		  					  <label class="ui-check">
		  						<input type="checkbox" name="check" checked required="true"><i></i> I agree to the <a href="#" class="text-info">Terms of Service</a>
		  					  </label>
		  					</div>
		  				  </div>
		  				  <div class=" p-a text-right">
		  					<button type="submit" [disabled]="submitted" class="btn info">Submit</button>
							<img *ngIf="submitted" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
		  				  </div>
		  				</div>
		  			</form>
			  	</div>
				<div *ngIf="isFormNumber == 3">
					<form [formGroup]="searchForm" (ngSubmit)="onSubmit3()">
		  				<div class="box">
		  				  <div class="box-header">
		  					<h2>Register3</h2>
		  				  </div>
		  				  <div class="box-body">
		  					<p class="text-muted">Please fill the information to continue</p>
		  					<div class="form-group">
		  					  <label>Username</label>
		  					  <input type="text" class="form-control" required>
		  					</div>
		  					<div class="form-group">
		  					  <label>Email</label>
		  					  <input type="email" class="form-control" required>
		  					</div>
		  					<div class="row m-b">
		  					  <div class="col-sm-6">
		  						<label>Enter password</label>
		  						<input type="password" class="form-control" required id="pwd">
		  					  </div>
		  					  <div class="col-sm-6">
		  						<label>Confirm password</label>
		  						<input type="password" class="form-control" data-parsley-equalto="#pwd" required>
		  					  </div>
		  					</div>
		  					<div class="form-group">
		  					  <label>Phone</label>
		  					  <input type="number" class="form-control" placeholder="XXX XXXX XXX" required>
		  					</div>
		  					<div class="checkbox">
		  					  <label class="ui-check">
		  						<input type="checkbox" name="check" checked required="true"><i></i> I agree to the <a href="#" class="text-info">Terms of Service</a>
		  					  </label>
		  					</div>
		  				  </div>
		  				  <div class=" p-a text-right">
		  					<button type="submit" [disabled]="submitted" class="btn info">Submit</button>
							<img *ngIf="submitted" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
		  				  </div>
		  				</div>
		  			</form>
			  	</div>
			</div>
			<div class="col-sm-3">

			</div>
		</div>
	</div>
</div>
