<div class="app-header white bg b-b">
      <div class="navbar" data-pjax>
            <a data-toggle="modal" data-target="#aside" class="navbar-item pull-left hidden-lg-up p-r m-a-0">
              <i class="ion-navicon"></i>
            </a>
            <div class="navbar-item pull-left h5" id="pageTitle">Dashboard</div>

      </div>
</div>
<div class="app-footer white bg p-a b-t">
  <div class="pull-right text-sm text-muted">Version 1.0.1</div>
  <span class="text-sm text-muted">&copy; Copyright.</span>
</div>
<div class="app-body">

<!-- ############ PAGE START-->
<div class="row-col">
<div class="col-lg b-r">
<div class="row no-gutter">
  <div class="col-xs-6 col-sm-3 b-r b-b">
    <div class="padding">
      <div>
        <span class="pull-right"><i class="fa fa-caret-up text-primary m-y-xs"></i></span>
        <span class="text-muted l-h-1x"><i class="ion-ios-grid-view text-muted"></i></span>
      </div>
      <div class="text-center">
        <h2 class="text-center _600">45</h2>
        <p class="text-muted m-b-md">Tests Corrected</p>
        <div>
          <span data-ui-jp="sparkline" data-ui-options="[2,3,2,2,1,3,6,3,2,1], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
        </div>
      </div>
    </div>
      </div>
      <div class="col-xs-6 col-sm-3 b-r b-b">
    <div class="padding">
      <div>
        <span class="pull-right"><i class="fa fa-caret-up text-primary m-y-xs"></i></span>
        <span class="text-muted l-h-1x"><i class="ion-document text-muted"></i></span>
      </div>
      <div class="text-center">
        <h2 class="text-center _600">219</h2>
        <p class="text-muted m-b-md">Patients Registered</p>
        <div>
          <span data-ui-jp="sparkline" data-ui-options="[1,1,0,2,3,4,2,1,2,2], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
        </div>
      </div>
    </div>
      </div>
      <div class="col-xs-6 col-sm-3 b-r b-b">
    <div class="padding">
      <div>
        <span class="pull-right"><i class="fa fa-caret-down text-danger m-y-xs"></i></span>
        <span class="text-muted l-h-1x"><i class="ion-pie-graph text-muted"></i></span>
      </div>
      <div class="text-center">
        <h2 class="text-center _600">8</h2>
        <p class="text-muted m-b-md">Credits</p>
        <div>
          <span data-ui-jp="sparkline" data-ui-options="[9,2,5,5,7,4,4,3,2,2], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
        </div>
      </div>
    </div>
      </div>
      <div class="col-xs-6 col-sm-3 b-b">
    <div class="padding">
      <div>
        <span class="pull-right"><i class="fa fa-caret-up text-primary m-y-xs"></i></span>
        <span class="text-muted l-h-1x"><i class="ion-paper-airplane text-muted"></i></span>
      </div>
      <div class="text-center">
        <h2 class="text-center _600">36</h2>
        <p class="text-muted m-b-md">Days until next renewal</p>
        <div>
          <span data-ui-jp="sparkline" data-ui-options="[3,3,1,62,4,3,7,3,2,5], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
        </div>
      </div>
    </div>
      </div>
    </div>
<div class="padding">
  <div class="row">
      <div class="col-sm-4">
          <div class="box">
            <div class="box-header">
              <h3>Marketing</h3>
              <small>A general overview of your sales</small>
            </div>
            <div class="box-tool">
            <ul class="nav">
              <li class="nav-item inline">
                <a class="nav-link">
                  <i class="ion-android-sync m-x-xs"></i>
                </a>
              </li>
              <li class="nav-item inline dropdown">
                <a class="nav-link" data-toggle="dropdown">
                  <i class="ion-android-menu m-x-xs"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-scale pull-right">
                  <a class="dropdown-item" href="#">This week</a>
                  <a class="dropdown-item" href="#">This month</a>
                  <a class="dropdown-item" href="#">This week</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item">Today</a>
                </div>
              </li>
            </ul>
          </div>
            <div>
              <canvas data-ui-jp="chart" data-ui-options="
                {
                  type: 'line',
                  data: {
                      labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                      datasets: [
                          {
                              label: 'Dataset',
                              data: [25, 21, 18, 20, 30, 40, 45],
                              fill: true,
                              backgroundColor: '#2196f3',
                              borderColor: '#2196f3',
                              borderWidth: 2,
                              borderCapStyle: 'butt',
                              borderDash: [],
                              borderDashOffset: 0.0,
                              borderJoinStyle: 'miter',
                              pointBorderColor: '#2196f3',
                              pointBackgroundColor: '#fff',
                              pointBorderWidth: 2,
                              pointHoverRadius: 4,
                              pointHoverBackgroundColor: '#2196f3',
                              pointHoverBorderColor: '#fff',
                              pointHoverBorderWidth: 2,
                              pointRadius: [0,4,4,4,4,4,0],
                              pointHitRadius: 10,
                              spanGaps: false
                          }
                      ]
                  },
                  options: {
                    scales: {
                      xAxes: [{
                         display: false
                      }],
                      yAxes: [{
                         display: false,
                         ticks:{
                           min: 0,
                           max: 60
                         }
                      }]
                    },
                    legend: {
                      display: false
                    }
                  }
                }
                " height="150">
                </canvas>
            </div>
            <div class="box-body info text-center p-b-md">
              <span class="dark-white rounded m-r p-x p-y-xs text-info"><i class="fa fa-caret-up"></i> 20%</span>
              <span>Over last Month</span>
            </div>
          </div>
      </div>
      <div class="col-sm-8">
        <div class="box">
            <div class="box-header">
              <h3>Orders</h3>
              <small>Calculated in last 30 days</small>
            </div>
            <div class="box-tool">
            <ul class="nav">
              <li class="nav-item inline">
                <a class="nav-link">
                  <i class="ion-android-sync m-x-xs"></i>
                </a>
              </li>
              <li class="nav-item inline dropdown">
                <a class="nav-link" data-toggle="dropdown">
                  <i class="ion-android-menu m-x-xs"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-scale pull-right">
                  <a class="dropdown-item" href="#">This week</a>
                  <a class="dropdown-item" href="#">This month</a>
                  <a class="dropdown-item" href="#">This week</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item">Today</a>
                </div>
              </li>
            </ul>
          </div>
            <div>
              <canvas data-ui-jp="chart" data-ui-options="
                {
                  type: 'line',
                  data: {
                      labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                      datasets: [
                          {
                              label: 'Dataset',
                              data: [63, 57, 40, 25, 20, 22, 26],
                              fill: true,
                              backgroundColor: '#ef193c',
                              borderColor: '#ef193c',
                              borderWidth: 2,
                              borderCapStyle: 'butt',
                              borderDash: [],
                              borderDashOffset: 0.0,
                              borderJoinStyle: 'miter',
                              pointBorderColor: '#ef193c',
                              pointBackgroundColor: '#fff',
                              pointBorderWidth: 2,
                              pointHoverRadius: 4,
                              pointHoverBackgroundColor: '#ef193c',
                              pointHoverBorderColor: '#fff',
                              pointHoverBorderWidth: 2,
                              pointRadius: [0,4,4,4,4,4,0],
                              pointHitRadius: 10,
                              spanGaps: false
                          }
                      ]
                  },
                  options: {
                    scales: {
                      xAxes: [{
                         display: false
                      }],
                      yAxes: [{
                         display: false,
                         ticks:{
                           min: 0,
                           max: 100
                         }
                      }]
                    },
                    legend: {
                      display: false
                    }
                  }
                }
                " height="150">
                </canvas>
            </div>
            <div class="box-body danger text-center p-b-md">
              <span class="dark-white rounded m-r p-x p-y-xs text-danger"><i class="fa fa-caret-down"></i> 25%</span>
              <span>Over last Month</span>
            </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-sm-8">
		  <div class="box">
              <div class="box-header b-b">
                <h3>News</h3>
              </div>
              <ul class="list">
                <li class="list-item">
                  <div class="list-body">
                    <div class="text-ellipsis">Wellcome <a href="#" class="text-info">@Drew Wllon</a> and play this web application template, have fun1 </div>
                    <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 minuts ago</small>
                  </div>
                </li>
                <li class="list-item">
                  <div class="list-body">
                    <p>Morbi nec <a href="#" class="text-info">@Jonathan George</a> nunc condimentum ipsum dolor sit amet, consectetur</p>
                    <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 1 hour ago</small>
                  </div>
                </li>
                <li class="list-item">
                  <div class="list-body">
                    <p><a href="#" class="text-info">@Josh Long</a> Vestibulum ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam</p>
                    <small class="block text-muted"><i class="fa fa-fw fa-clock-o"></i> 2 hours ago</small>
                  </div>
                </li>
              </ul>
          </div>
      </div>
      <div class="col-sm-4">
		  <div class="box">
            <div class="box-header">
              <h3>Tasks</h3>
              <small>20 finished, 5 remaining</small>
            </div>
            <div class="box-tool">
                  <ul class="nav">
                    <li class="nav-item inline dropdown">
                      <a class="nav-link text-muted p-x-xs" data-toggle="dropdown">
                        <i class="fa fa-ellipsis-v"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-scale pull-right">
                        <a class="dropdown-item" href="#">New task</a>
                        <a class="dropdown-item" href="#">Make all finished</a>
                        <a class="dropdown-item" href="#">Make all unfinished</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">Settings</a>
                      </div>
                    </li>
                  </ul>
              </div>
            <div class="box-body">
                <div class="streamline">
                    <div class="sl-item b-success">
                      <div class="sl-content">
                        <div class="sl-date text-muted">8:30</div>
                        <div>Call to customer <a href="#" class="text-info">Jacob</a> and discuss the detail about the AP project.</div>
                      </div>
                    </div>
                    <div class="sl-item">
                      <div class="sl-content">
                        <div class="sl-date text-muted">Sat, 5 Mar</div>
                        <div>Prepare for presentation</div>
                      </div>
                    </div>
                    <div class="sl-item">
                      <div class="sl-content">
                        <div class="sl-date text-muted">Sun, 11 Feb</div>
                        <div><a href="#" class="text-info">Jessi</a> assign you a task <a href="#" class="text-info">Mockup Design</a>.</div>
                      </div>
                    </div>
                </div>
            </div>
              <div class="box-footer">
                <a href="#" class="btn btn-xs white rounded">More</a>
              </div>
            </div>
      </div>
  </div>
</div>
</div>
<div class="col-lg w-lg w-auto-md white bg">
<div>
  <div class="p-a">
    <h6 class="text-muted m-a-0">Latest Patients</h6>
  </div>
  <div class="list inset">
    <a class="list-item" data-toggle="modal" data-target="#chat" data-dismiss="modal">
            <span class="list-left">
              <span class="avatar">
                <i class="on avatar-center no-border"></i>
                  <img src="assets/images/a1.jpg" class="w-20" alt=".">
                </span>
            </span>
            <span class="list-body text-ellipsis">
              Jonathan Morina
            </span>
          </a>
          <a class="list-item" data-toggle="modal" data-target="#chat" data-dismiss="modal">
            <span class="list-left">
              <span class="avatar">
                <i class="on avatar-center no-border"></i>
                  <img src="assets/images/a2.jpg" class="w-20" alt=".">
                </span>
            </span>
            <span class="list-body text-ellipsis">
              Crystal Guerrero
            </span>
          </a>
          <a class="list-item" data-toggle="modal" data-target="#chat" data-dismiss="modal">
            <span class="list-left">
              <span class="avatar">
                <i class="on avatar-center no-border"></i>
                  <img src="assets/images/a3.jpg" class="w-20" alt=".">
                </span>
            </span>
            <span class="list-body text-ellipsis">
              Judith Garcia
            </span>
          </a>
          <a class="list-item" data-toggle="modal" data-target="#chat" data-dismiss="modal">
            <span class="list-left">
              <span class="avatar">
                <i class="away avatar-center no-border"></i>
                  <img src="assets/images/a4.jpg" class="w-20" alt=".">
                </span>
            </span>
            <span class="list-body text-ellipsis">
              Melissa Garza
            </span>
          </a>
          <a class="list-item" data-toggle="modal" data-target="#chat" data-dismiss="modal">
            <span class="list-left">
              <span class="avatar">
                <i class="off avatar-center no-border"></i>
                  <img src="assets/images/a5.jpg" class="w-20" alt=".">
                </span>
            </span>
            <span class="list-body text-ellipsis">
              Douglas Torres
            </span>
          </a>
      </div>
      <div class="p-a">
        <h6 class="text-muted m-a-0">Activity Log</h6>
      </div>
      <div class="streamline streamline-theme m-b">
        <div class="sl-item b-success">
          <div class="sl-content">
            <div>Finished task <a href="#" class="text-info">#features 4</a>.</div>
            <div class="sl-date text-muted">Just now</div>
          </div>
        </div>
        <div class="sl-item b-success active">
          <div class="sl-content">
            <div><a href="#">@Jessi</a> uploaded a file <a href="#" class="text-info">documentation.pdf</a></div>
            <div class="sl-date text-muted">11:30</div>
          </div>
        </div>
        <div class="sl-item b-info">
          <div class="sl-content">
            <div>Call to customer <a href="#" class="text-info">Jacob</a> and discuss the detail.</div>
            <div class="sl-date text-muted">10:30</div>
          </div>
        </div>
        <div class="sl-item">
          <div class="sl-content">
            <div><a href="#" class="text-info">Jessi</a> commented your post.</div>
            <div class="sl-date text-muted">3 days ago</div>
          </div>
        </div>
        <div class="sl-item">
          <div class="sl-content">
            <div><a href="#" class="text-info">Jessi</a> report a issue #2122.</div>
            <div class="sl-date text-muted">Thu, 10 Mar</div>
          </div>
        </div>
        <div class="sl-item">
          <div class="sl-content">
            <div>Prepare for presentation</div>
            <div class="sl-date text-muted">Sat, 5 Mar</div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

<div class="modal fade inactive" id="chat" data-backdrop="false">
<div class="modal-right w-xxl dark-white b-l">
  <div class="row-col">
    <a data-dismiss="modal" class="pull-right text-muted text-lg p-a-sm m-r-sm">&times;</a>
    <div class="p-a b-b">
      <span class="h5">Chat</span>
    </div>
    <div class="row-row light">
      <div class="row-body scrollable hover">
        <div class="row-inner">
          <div class="p-a-md">
            <div class="m-b">
              <a href="#" class="pull-left w-40 m-r-sm"><img src="assets/images/a2.jpg" alt="..." class="w-full img-circle"></a>
              <div class="clear">
                <div class="p-a p-y-sm dark-white inline r">
                  Hi John, What's up...
                </div>
                <div class="text-muted text-xs m-t-xs"><i class="fa fa-ok text-success"></i> 2 minutes ago</div>
              </div>
            </div>
            <div class="m-b">
              <a href="#" class="pull-right w-40 m-l-sm"><img src="assets/images/a3.jpg" class="w-full img-circle" alt="..."></a>
              <div class="clear text-right">
                <div class="p-a p-y-sm success inline text-left r">
                  Lorem ipsum dolor soe rooke..
                </div>
                <div class="text-muted text-xs m-t-xs">1 minutes ago</div>
              </div>
            </div>
            <div class="m-b">
              <a href="#" class="pull-left w-40 m-r-sm"><img src="assets/images/a2.jpg" alt="..." class="w-full img-circle"></a>
              <div class="clear">
                <div class="p-a p-y-sm dark-white inline r">
                  Good!
                </div>
                <div class="text-muted text-xs m-t-xs"><i class="fa fa-ok text-success"></i> 5 seconds ago</div>
              </div>
            </div>
            <div class="m-b">
              <a href="#" class="pull-right w-40 m-l-sm"><img src="assets/images/a3.jpg" class="w-full img-circle" alt="..."></a>
              <div class="clear text-right">
                <div class="p-a p-y-sm success inline text-left r">
                  Dlor soe isep..
                </div>
                <div class="text-muted text-xs m-t-xs">Just now</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-a b-t">

    </div>
  </div>
</div>
</div>

<!-- ############ PAGE END-->

</div>
