<div class="padding">
  <div class="navbar">
    <div class="pull-center">
      <!-- brand -->
	  <a [routerLink]="['/login']" class="navbar-brand">
        	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="32" height="32">
          	<circle cx="24" cy="24" r="24" style="fill: rgba(120,130,140,0.7);"></circle>
          	<circle cx="24" cy="0" r="2" fill="#ffffff" class="brand-animate"></circle>
          	<text dy="10" x="50%" y="50%" text-anchor="middle" style="fill: #ffffff; stroke: none; font-size: 40px;">a</text>
          </svg>
        	<img src="assets/images/logo.png" alt="." class="hide">
        	<span class="hidden-folded inline">aside</span>
        </a>
      <!-- / brand -->
    </div>
  </div>
</div>
<div class="b-t">
  <div class="center-block w-xxl w-auto-xs p-y-md text-center">
    <div class="p-a-md">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="text" formControlName="first_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" placeholder="First Name"/>
          <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
              <div *ngIf="f.first_name.errors.required">First Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" formControlName="surnames" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.surnames.errors }" placeholder="Surnames"/>
          <div *ngIf="submitted && f.surnames.errors" class="invalid-feedback">
              <div *ngIf="f.surnames.errors.required">Surnames is required</div>
          </div>
        </div>
        <div class="form-group">
          <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="E-mail"/>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
          </div>
        </div>
        <div class="form-group">
          <input type="email" formControlName="retype_email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.retype_email.errors }" placeholder="Re-enter email"/>
          <div *ngIf="submitted && f.retype_email.errors" class="invalid-feedback">
              <div *ngIf="f.retype_email.error.required">Retype email is required</div>
          </div>
        </div>
		<div class="form-group">
          <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password"/>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" formControlName="bcrn" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.bcrn.errors }" placeholder="Brazilian Civilian Registration number"/>
          <div *ngIf="submitted && f.bcrn.errors" class="invalid-feedback">
              <div *ngIf="f.bcrn.errors.required">Brazilian Civilian Registration number is required</div>
          </div>
        </div>
		<div class="form-group">
          <input type="text" formControlName="complement" class="form-control" [ngClass]="{ 'is-invalid': complement && f.street.errors }" placeholder="Complement"/>
          <div *ngIf="submitted && f.complement.errors" class="invalid-feedback">
              <div *ngIf="f.complement.errors.required">Complement record is required</div>
          </div>
        </div>
		<div class="form-group">
          <input type="text" formControlName="professional_record" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.professional_record.errors }" placeholder="Professional record"/>
          <div *ngIf="submitted && f.professional_record.errors" class="invalid-feedback">
              <div *ngIf="f.professional_record.errors.required">Professional record is required</div>
          </div>
        </div>
		<div class="form-group">
          <input type="text" formControlName="street" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.street.errors }" placeholder="Street"/>
          <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
              <div *ngIf="f.street.errors.required">Street record is required</div>
          </div>
        </div>
		<div class="form-group">
          <input type="text" formControlName="neighborhood" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.neighborhood.errors }" placeholder="Neighborhood"/>
          <div *ngIf="submitted && f.neighborhood.errors" class="invalid-feedback">
              <div *ngIf="f.neighborhood.errors.required">Neighborhood record is required</div>
          </div>
        </div>
		<div class="form-group">
          <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" placeholder="City"/>
          <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
              <div *ngIf="f.city.errors.required">City is required</div>
          </div>
        </div>
		<div class="form-group">
          <input type="text" formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.state.errors }" placeholder="State"/>
          <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
              <div *ngIf="f.state.errors.required">State is required</div>
          </div>
        </div>
		<div class="form-group">
          <input type="text" formControlName="zip" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.zip.errors }" placeholder="Zip"/>
          <div *ngIf="submitted && f.zip.errors" class="invalid-feedback">
              <div *ngIf="f.zip.errors.required">State is required</div>
          </div>
        </div>

        <div class="m-b-md text-sm">
          <span class="text-muted">Clicking on "Register" you agree to our Terms of Use</span>
        </div>
        <button type="submit" [disabled]="loading" class="btn btn-lg black p-x-lg">Register</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

      </form>
      <div class="p-y-lg text-center">
        <div>Already have an account? <a [routerLink]="['/login']" class="text-primary _600">Log in</a></div>
      </div>
    </div>
  </div>
</div>
